<div id="place-container">
    <span class="place-title">@Model.Name</span> <span class="place-location">@Model.Location</span>
    <p class="place-p">
        @Model.Description
    </p>
    <a href="#" class="place-link">< Back</a>
    <a href="#" class="place-link-edit">Edit</a>
</div>