@foreach (var place in Model.Places)
{
    <div class="entry">
        <span class="title">@place.Name</span> <span class="location">@place.Location</span>
        <a href="#">
            <div class="arrow"></div>
        </a>
    </div>
}